### All sections
*                       @buzzzlightyear

### Specific sections
## frontend
# frontend/*            @user_name

## backend
# backend/*             @user_name

### Specific files
# *.js                  @user_name
# *.py                  @user_name

### Specific section and files
# components/*.md       @user_name
# */*.md                @user_name