<%- include("partials/header") %>
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <div class="landingspageHeader">
                <div class="container">
                    <div class="row">
                        <div class="headerTitle col-md-6 headerText">
                            <h1>Special Park<span class="bigDot">.</span></h1>
                            <p class="slogan">Maakt parkeren efficient.</p>
                            <div class="my-space"></div>
                            <p>Irriteert u zich ook aan de lange wachtrijen en onnodige papierverspilling in
                                parkeergarages? Wij bieden de oplossing! Door ons slimme automatische parkeersysteem
                                weet de parkeergarage precies wanneer u aankomt en vertrekt en hoeft u pas achteraf te
                                betalen!</p>
                            <a href="#introduction" class="btn btn-success btn-icon-split customStyle">
                  <span class="icon text-white-50">
                    <i class="fas fa-arrow-down"></i>
                  </span>
                                <span class="text">Lees verder</span>
                            </a>
                        </div>
                        <div class="col-md-6 carparkImage">
                            <img src="images/carpark.svg">
                        </div>
                    </div>
                </div>
            </div>

            <!-- Begin Page Content -->
            <div class="pageContent container-fluid">

                <section id="introduction">
                    <div class="container">
                        <h2>Wat doen wij?</h2>
                        <div class="row">
                            <div class="col-md-4 textImage">
                                <img src="images/parkingmeter.svg">
                                <h3>Lange wachtrijen verkleinen</h3>
                                <p>Door het in- en uitrijden van garagebezoekers constant te monitoren en ze vervolgens
                                    online te laten betalen is het niet meer nodig om in de rij te staan bij een
                                    parkeerautomaat.</p>
                            </div>
                            <div class="col-md-4 textImage">
                                <img src="images/parkingbarrier.svg">
                                <h3>Handelingen automatiseren</h3>
                                <p>Bij binnenkomst van de garage wordt bij de slagboom uw kenteken gescant en zal de
                                    slagboom automatisch omhoog gaan. Door uw aankomst en vertrektijd bij te houden
                                    wordt uw tarief automatisch uitgerekend.</p>
                            </div>
                            <div class="col-md-4 textImage">
                                <img src="images/parkingticket.svg">
                                <h3>Papierverspilling tegengaan</h3>
                                <p>Doordat alle handeling geautomatiseerd zijn worden er bij binnenkomst en bij de
                                    parkeerautomaat geen parkeerkaartjes meer geprint en dit is beter voor het
                                    milieu.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <hr class="container dottedLine">

                <section id="possibilities">
                    <div class="container">
                        <h2>Mogelijkheden</h2>
                        <div class="row">
                            <div class="col-md-6 textImage">
                                <img src="images/family.svg">
                                <h3>Registreer meerdere auto's</h3>
                                <p>Maken u en uw gezin vaak gebruik van Special Park of heeft u meerdere auto's in
                                    gebruik? Geen enkel probleem! Wij bieden uw de mogelijk om meerdere auto's te
                                    registreren per account. </p>
                            </div>
                            <div class="col-md-6 textImage">
                                <img src="images/incasso.svg">
                                <h3>Automatische incasso's</h3>
                                <p>Aan het einde van de maand zal het verschuldigde bedrag automatisch van uw gekoppelde
                                    rekening worden afgehaald en zult u een factuur ontvangen in uw mailbox.</p>
                            </div>
                        </div>
                    </div>
                </section>

                <hr class="container dottedLine">

                <section id="partners">
                    <div class="container">
                        <h2>Onze partners</h2>
                        <div class="row">
                            <div class="col-md-3 partnerImage">
                                <img src="images/qpark.png">
                            </div>
                            <div class="col-md-3 partnerImage">
                                <img src="images/linkinpark.png">
                            </div>
                            <div class="col-md-3 partnerImage">
                                <img src="images/buro.png">
                            </div>
                            <div class="col-md-3 partnerImage">
                                <img src="images/apcoa.png">
                            </div>
                        </div>
                    </div>
                </section>

                <hr class="container dottedLine">

                <section id="register">
                    <div class="container">
                        <h2>Interesse?</h2>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <a href="/register" class="btn btn-success btn-icon-split customStyle">
                    <span class="icon text-white-50">
                      <i class="fas fa-check"></i>
                    </span>
                                    <span class="text">Klik hier om u aan te melden</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </section>


            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>&copy; Special Park 2020</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<%- include("partials/footer") %>